<div class="row">
    <div class="col-md-6">
        <div class="card shadow-sm rounded p-3">
            <h5>Your Hospital</h5>
            <p>@HospitalName</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card shadow-sm rounded p-3">
            <h5>Doctors Registered</h5>
            <p>@DoctorCount</p>
        </div>
    </div>
</div>

@code {
    string HospitalName = "Life Entabeni";
    int DoctorCount = 5;
}