<div class="row">
    <div class="col-md-4">
        <div class="card shadow-sm rounded p-3">
            <h5>Total Hospitals</h5>
            <p>@TotalHospitals</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow-sm rounded p-3">
            <h5>Total Users</h5>
            <p>@TotalUsers</p>
        </div>
    </div>
</div>

@code {
    int TotalHospitals = 12;
    int TotalUsers = 102;
}